/*
	Default media queries
*/

/* 1280px */
$small_screen: 80em;

/* 768px */
$mobile: 48em;

/*
	Vars
 */
$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;


/*
	Mixins
 */

@mixin translateY($e) {
  -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
          transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
    -moz-transition:$e;
          transition:$e;
}




