@import '_config';

/* Fonts -

regular 400
regular 400 Italic
bold 700
bold 700 Italic

 */

 html {

 	/*font-size: 10px;*/

 	/*
		A typical method is to set the HTML font-size to 62.5%. That’s because 62.5% of 16px (typical default browser font-size) is 10px. 
 	*/
 	font-size: 62.5%;

 	@media screen and (max-width: 1280px) {

 		font-size: 50%; /* default browser screen size 16px / 50% = 8px */

 	}
 	
 }

body {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  background-color: $lightGrey;
}


a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
  }

  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }


}

/***************************
* Headings
***************************/

h1 {
	font-size: 3rem;
	line-height: 3.2rem;
	font-weight: 400;
	color: $black;
	font-style: normal;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 1em;
}

.title {
	@extend h1;
}


/***************************
* General
***************************/

.container-fluid {
	max-width: 146.5rem;
	margin-top: 3rem;
	line-height: 2.4rem;
}


/***************************
* Custom Buttons
***************************/

.buttons {
    display: block;
    width: 100%;
    margin: 3rem 0;

    a {
	    display: inline-block;
	    font-weight: 400;
	    font-size: 1.8rem;
	    line-height: normal;
	    font-style: normal;
	    color: $white;
	    text-transform: uppercase;
	    padding: 0.8333333333333334em;
	    text-align: center;
	    text-decoration: none;
	    border: none;
	    background: $black;
	    border-radius: 3px;
	    margin-bottom: 1rem;

	    &:hover {
    	    background: $red;
	    }

	    @media screen and (max-width: 768px) {

	    	width: 100%;


	    }


	}
}











